In [54]:
import json
import pandas as pd
import requests
from urllib.parse import urljoin
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service as ChromeService

from webdriver_manager.chrome import ChromeDriverManager

/home/gbemike/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [25]:
options = webdriver.ChromeOptions()

options.set_capability(
    'goog:loggingPrefs', 
    {
        'performance': 'ALL', 
        'browser': 'ALL'
        }
)

driver = webdriver.Chrome(options = options)
driver.set_page_load_timeout(20)

In [26]:
headers = {
    'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'
}

In [120]:
matches = pd.read_csv('matches.csv')

In [121]:
matches

                    matches match_id
0          germany-scotland  VTbslUb
1       hungary-switzerland  ZTbsjUb
2             croatia-spain  YTbspUb
3             italy-albania  PTbshUb
4        netherlands-poland  dUbsfUb
5          slovenia-denmark  BObsJOb
6            serbia-england  nUbsfCc
7           ukraine-romania  CObsbUb
8          belgium-slovakia  XTbsrUb
9            austria-france  GObstUb
10           georgia-turkey  aUbsnVb
11  czech-republic-portugal  eUbsoUb
12          croatia-albania  PTbspUb
13          germany-hungary  jUbslUb
14     switzerland-scotland  VTbsZTb
15          serbia-slovenia  JObsfCc
16          england-denmark  BObsnUb
17              italy-spain  YTbshUb
18         ukraine-slovakia  XTbsbUb
19           austria-poland  dUbstUb
20       netherlands-france  GObsfUb
21   georgia-czech-republic  oUbsnVb
22          portugal-turkey  aUbseUb
23          belgium-romania  CObsrUb
24      germany-switzerland  ZTbslUb
25         hungary-scotland  VTbsjUb
26            croatia-italy  hUbspUb
27            spain-albania  PTbsYTb
28            poland-france  GObsdUb
29      austria-netherlands  fUbstUb
30         england-slovenia  JObsnUb
31           serbia-denmark  BObsfCc
32          belgium-ukraine  bUbsrUb
33         slovakia-romania  CObsXTb
34         georgia-portugal  eUbsnVb
35    czech-republic-turkey  aUbsoUb
36        italy-switzerland  ZTbshUb
37          germany-denmark  BObslUb
38         england-slovakia  XTbsnUb
39            georgia-spain  YTbsnVb
40           belgium-france  GObsrUb
41        portugal-slovenia  JObseUb
42      netherlands-romania  CObsfUb
43           austria-turkey  aUbstUb

In [129]:
match_list = matches['matches'].to_list()
id_lsit = matches['match_id'].to_list()

In [ ]:
standard_columns = [
'shirtNumber', 'jerseyNumber', 'position', 'substitute',
       'player.slug', 'player.position',
       'player.jerseyNumber','player.country.name',
       'statistics.totalPass', 'statistics.accuratePass',
       'statistics.totalLongBalls', 'statistics.goalAssist',
       'statistics.minutesPlayed', 'statistics.touches', 'statistics.rating',
       'statistics.possessionLostCtrl','statistics.accurateLongBalls',
       'statistics.totalCross', 'statistics.accurateCross',
       'statistics.duelLost', 'statistics.duelWon', 'statistics.challengeLost',
       'statistics.totalContest', 'statistics.blockedScoringAttempt',
       'statistics.totalClearance', 'statistics.totalTackle',
       'statistics.expectedGoals', 'statistics.keyPass',
       'statistics.expectedAssists', 'statistics.aerialLost',
       'statistics.aerialWon', 'statistics.onTargetScoringAttempt',
       'statistics.ownGoals', 'statistics.fouls', 'statistics.wasFouled',
       'statistics.totalOffside', 'statistics.shotOffTarget',
       'statistics.interceptionWon', 'statistics.dispossessed',
       'statistics.wonContest', 'statistics.goals', 'captain',
       'statistics.penaltyWon'
]

In [ ]:
match_df = []
base_url = 'https://www.sofascore.com'

for match, match_id in zip(match_list, id_list):
    match_url = f'{base_url}/{match}/{match_id}'
    try:
        driver.get(match_url)
    except:
        pass
    
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

    # gives all network responses/ all APIs being called
    logs_raw = driver.get_log('performance')

    logs = [json.loads(lr["message"])["message"] for lr in logs_raw]

    for x in logs:
    if 'lineups' in x['params'].get('headers', {}).get(':path', ''):
        print(x['params'].get('headers', {}).get(':path'))
        break

    lineups_url = x['params'].get('headers', {}).get(':path')
    r = requests.get(urljoin("https://sofascore.com", lineups_url), headers = headers)

    if r.status_code == 200:
        data = r.json()

    home = data['home']['players']

    home_lineups = pd.json_normalize(home)

    # Ensure all necessary columns from standard column list are present
    home_lineups = home_lineups.reindex(columns=standard_columns)

    home_lineups.columns = home_lineups.columns.str.replace('statistics.','')
    home_lineups.columns = home_lineups.columns.str.replace('player.','')
    home_lineups.columns = home_lineups.columns.str.replace('slug','player_name')

    away = data['away']['players']

    away_lineups = pd.json_normalize(away)

    # Ensure all necessary columns from standard column list are present
    away_lineups = away_lineups.reindex(columns=standard_columns)

    away_lineups.columns = away_lineups.columns.str.replace('statistics.','')
    away_lineups.columns = away_lineups.columns.str.replace('player.','')
    away_lineups.columns = away_lineups.columns.str.replace('slug','player_name')

In [27]:
# matches = "germany-scotland"
# match_ids = "VTbslUb"


# # for match, match_id in zip(matches, match_ids):

# match_url = f'{base_url}/{matches}/{match_ids}'

# try:
#     driver.get(match_url)
# except:
#     pass

# driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

In [28]:
# gives all network responses/ all APIs being called
logs_raw = driver.get_log('performance')

In [29]:
logs = [json.loads(lr["message"])["message"] for lr in logs_raw]

In [30]:
logs[0]

{'method': 'Network.loadingFinished',
 'params': {'encodedDataLength': 0,
  'requestId': '54EC0E8DFA2994E8929F718B97DC5344',
  'timestamp': 18003.839078}}

In [31]:
for x in logs:
    if 'lineups' in x['params'].get('headers', {}).get(':path', ''):
        print(x['params'].get('headers', {}).get(':path'))
        break

/api/v1/event/11873905/lineups

In [32]:
print(x['params'].get('headers', {}).get(':path'))

/api/v1/event/11873905/lineups

In [81]:
from urllib.parse import urljoin

lineups_url = x['params'].get('headers', {}).get(':path')
r = requests.get(urljoin("https://sofascore.com", lineups_url), headers = headers)

if r.status_code == 200:
    data = r.json()

In [82]:
data.keys()

dict_keys(['confirmed', 'home', 'away'])

In [83]:
home = data['home']['players']

In [84]:
home_lineups = pd.json_normalize(home)

In [85]:
home_lineups.columns

Index(['shirtNumber', 'jerseyNumber', 'position', 'substitute', 'player.name',
       'player.slug', 'player.shortName', 'player.position',
       'player.jerseyNumber', 'player.userCount', 'player.id',
       'player.country.alpha2', 'player.country.alpha3', 'player.country.name',
       'player.marketValueCurrency', 'player.dateOfBirthTimestamp',
       'player.fieldTranslations.nameTranslation.ar',
       'player.fieldTranslations.shortNameTranslation.ar',
       'statistics.totalPass', 'statistics.accuratePass',
       'statistics.totalLongBalls', 'statistics.goalAssist',
       'statistics.minutesPlayed', 'statistics.touches', 'statistics.rating',
       'statistics.possessionLostCtrl', 'statistics.ratingVersions.original',
       'statistics.ratingVersions.alternative', 'player.firstName',
       'player.lastName', 'statistics.accurateLongBalls',
       'statistics.totalCross', 'statistics.accurateCross',
       'statistics.duelLost', 'statistics.duelWon', 'statistics.challengeLost',
       'statistics.totalContest', 'statistics.blockedScoringAttempt',
       'statistics.totalClearance', 'statistics.totalTackle',
       'statistics.expectedGoals', 'statistics.keyPass',
       'statistics.expectedAssists', 'statistics.aerialLost',
       'statistics.aerialWon', 'statistics.onTargetScoringAttempt',
       'statistics.ownGoals', 'statistics.fouls', 'statistics.wasFouled',
       'statistics.totalOffside', 'statistics.shotOffTarget',
       'statistics.interceptionWon', 'statistics.dispossessed',
       'statistics.wonContest', 'statistics.goals', 'captain',
       'statistics.penaltyWon'],
      dtype='object')

In [86]:
standard_columns = [
'shirtNumber', 'jerseyNumber', 'position', 'substitute',
       'player.slug', 'player.position',
       'player.jerseyNumber','player.country.name',
       'statistics.totalPass', 'statistics.accuratePass',
       'statistics.totalLongBalls', 'statistics.goalAssist',
       'statistics.minutesPlayed', 'statistics.touches', 'statistics.rating',
       'statistics.possessionLostCtrl','statistics.accurateLongBalls',
       'statistics.totalCross', 'statistics.accurateCross',
       'statistics.duelLost', 'statistics.duelWon', 'statistics.challengeLost',
       'statistics.totalContest', 'statistics.blockedScoringAttempt',
       'statistics.totalClearance', 'statistics.totalTackle',
       'statistics.expectedGoals', 'statistics.keyPass',
       'statistics.expectedAssists', 'statistics.aerialLost',
       'statistics.aerialWon', 'statistics.onTargetScoringAttempt',
       'statistics.ownGoals', 'statistics.fouls', 'statistics.wasFouled',
       'statistics.totalOffside', 'statistics.shotOffTarget',
       'statistics.interceptionWon', 'statistics.dispossessed',
       'statistics.wonContest', 'statistics.goals', 'captain',
       'statistics.penaltyWon'
]

In [87]:
len(standard_columns)

44

In [88]:
# Ensure all necessary columns are present
home_lineups = home_lineups.reindex(columns=standard_columns)

In [89]:
home_lineups.columns

Index(['shirtNumber', 'jerseyNumber', 'position', 'substitute', 'player.name',
       'player.slug', 'player.position', 'player.jerseyNumber',
       'player.country.name', 'statistics.totalPass',
       'statistics.accuratePass', 'statistics.totalLongBalls',
       'statistics.goalAssist', 'statistics.minutesPlayed',
       'statistics.touches', 'statistics.rating',
       'statistics.possessionLostCtrl', 'statistics.accurateLongBalls',
       'statistics.totalCross', 'statistics.accurateCross',
       'statistics.duelLost', 'statistics.duelWon', 'statistics.challengeLost',
       'statistics.totalContest', 'statistics.blockedScoringAttempt',
       'statistics.totalClearance', 'statistics.totalTackle',
       'statistics.expectedGoals', 'statistics.keyPass',
       'statistics.expectedAssists', 'statistics.aerialLost',
       'statistics.aerialWon', 'statistics.onTargetScoringAttempt',
       'statistics.ownGoals', 'statistics.fouls', 'statistics.wasFouled',
       'statistics.totalOffside', 'statistics.shotOffTarget',
       'statistics.interceptionWon', 'statistics.dispossessed',
       'statistics.wonContest', 'statistics.goals', 'captain',
       'statistics.penaltyWon'],
      dtype='object')

In [95]:
home_lineups.columns = home_lineups.columns.str.replace('statistics.','')
home_lineups.columns = home_lineups.columns.str.replace('player.','')
home_lineups.columns = home_lineups.columns.str.replace('slug','player_name')

In [96]:
home_lineups.columns

Index(['shirtNumber', 'jerseyNumber', 'position', 'substitute', 'name', 'slug',
       'position', 'jerseyNumber', 'country.name', 'totalPass', 'accuratePass',
       'totalLongBalls', 'goalAssist', 'minutesPlayed', 'touches', 'rating',
       'possessionLostCtrl', 'accurateLongBalls', 'totalCross',
       'accurateCross', 'duelLost', 'duelWon', 'challengeLost', 'totalContest',
       'blockedScoringAttempt', 'totalClearance', 'totalTackle',
       'expectedGoals', 'keyPass', 'expectedAssists', 'aerialLost',
       'aerialWon', 'onTargetScoringAttempt', 'ownGoals', 'fouls', 'wasFouled',
       'totalOffside', 'shotOffTarget', 'interceptionWon', 'dispossessed',
       'wonContest', 'goals', 'captain', 'penaltyWon'],
      dtype='object')

In [97]:
home_lineups.shape

(26, 44)

In [99]:
home_lineups['touches']

0      15.0
1      97.0
2     102.0
3      98.0
4      89.0
5      34.0
6     108.0
7      59.0
8      45.0
9      46.0
10     25.0
11     73.0
12     24.0
13      5.0
14     12.0
15     13.0
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
Name: touches, dtype: float64

In [100]:
away = data['away']['players']

In [102]:
away_lineups = pd.json_normalize(away)

In [103]:
# Ensure all necessary columns are present
away_lineups = away_lineups.reindex(columns=standard_columns)

In [104]:
away_lineups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 44 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   shirtNumber                        26 non-null     int64
 1   jerseyNumber                       26 non-null     object
 2   position                           26 non-null     object
 3   substitute                         26 non-null     bool
 4   player.name                        26 non-null     object
 5   player.slug                        26 non-null     object
 6   player.position                    26 non-null     object
 7   player.jerseyNumber                22 non-null     object
 8   player.country.name                26 non-null     object
 9   statistics.totalPass               16 non-null     float64
 10  statistics.accuratePass            16 non-null     float64
 11  statistics.totalLongBalls          11 non-null     float64
 12  statistics.goalAssist              16 non-null     float64
 13  statistics.minutesPlayed           16 non-null     float64
 14  statistics.touches                 16 non-null     float64
 15  statistics.rating                  16 non-null     float64
 16  statistics.possessionLostCtrl      16 non-null     float64
 17  statistics.accurateLongBalls       7 non-null      float64
 18  statistics.totalCross              4 non-null      float64
 19  statistics.accurateCross           1 non-null      float64
 20  statistics.duelLost                12 non-null     float64
 21  statistics.duelWon                 14 non-null     float64
 22  statistics.challengeLost           4 non-null      float64
 23  statistics.totalContest            5 non-null      float64
 24  statistics.blockedScoringAttempt   0 non-null      float64
 25  statistics.totalClearance          11 non-null     float64
 26  statistics.totalTackle             9 non-null      float64
 27  statistics.expectedGoals           1 non-null      float64
 28  statistics.keyPass                 0 non-null      float64
 29  statistics.expectedAssists         3 non-null      float64
 30  statistics.aerialLost              7 non-null      float64
 31  statistics.aerialWon               6 non-null      float64
 32  statistics.onTargetScoringAttempt  0 non-null      float64
 33  statistics.ownGoals                0 non-null      float64
 34  statistics.fouls                   6 non-null      float64
 35  statistics.wasFouled               9 non-null      float64
 36  statistics.totalOffside            0 non-null      float64
 37  statistics.shotOffTarget           1 non-null      float64
 38  statistics.interceptionWon         5 non-null      float64
 39  statistics.dispossessed            5 non-null      float64
 40  statistics.wonContest              4 non-null      float64
 41  statistics.goals                   0 non-null      float64
 42  captain                            1 non-null      object
 43  statistics.penaltyWon              0 non-null      float64
dtypes: bool(1), float64(34), int64(1), object(8)
memory usage: 8.9+ KB

In [105]:
away_lineups.shape

(26, 44)

In [106]:
away_lineups.columns = away_lineups.columns.str.replace('statistics.','')
away_lineups.columns = away_lineups.columns.str.replace('player.','')
away_lineups.columns = away_lineups.columns.str.replace('slug','player_name')

In [107]:
away_lineups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   shirtNumber             26 non-null     int64
 1   jerseyNumber            26 non-null     object
 2   position                26 non-null     object
 3   substitute              26 non-null     bool
 4   name                    26 non-null     object
 5   slug                    26 non-null     object
 6   position                26 non-null     object
 7   jerseyNumber            22 non-null     object
 8   country.name            26 non-null     object
 9   totalPass               16 non-null     float64
 10  accuratePass            16 non-null     float64
 11  totalLongBalls          11 non-null     float64
 12  goalAssist              16 non-null     float64
 13  minutesPlayed           16 non-null     float64
 14  touches                 16 non-null     float64
 15  rating                  16 non-null     float64
 16  possessionLostCtrl      16 non-null     float64
 17  accurateLongBalls       7 non-null      float64
 18  totalCross              4 non-null      float64
 19  accurateCross           1 non-null      float64
 20  duelLost                12 non-null     float64
 21  duelWon                 14 non-null     float64
 22  challengeLost           4 non-null      float64
 23  totalContest            5 non-null      float64
 24  blockedScoringAttempt   0 non-null      float64
 25  totalClearance          11 non-null     float64
 26  totalTackle             9 non-null      float64
 27  expectedGoals           1 non-null      float64
 28  keyPass                 0 non-null      float64
 29  expectedAssists         3 non-null      float64
 30  aerialLost              7 non-null      float64
 31  aerialWon               6 non-null      float64
 32  onTargetScoringAttempt  0 non-null      float64
 33  ownGoals                0 non-null      float64
 34  fouls                   6 non-null      float64
 35  wasFouled               9 non-null      float64
 36  totalOffside            0 non-null      float64
 37  shotOffTarget           1 non-null      float64
 38  interceptionWon         5 non-null      float64
 39  dispossessed            5 non-null      float64
 40  wonContest              4 non-null      float64
 41  goals                   0 non-null      float64
 42  captain                 1 non-null      object
 43  penaltyWon              0 non-null      float64
dtypes: bool(1), float64(34), int64(1), object(8)
memory usage: 8.9+ KB

In [108]:
away_lineups.columns

Index(['shirtNumber', 'jerseyNumber', 'position', 'substitute', 'name', 'slug',
       'position', 'jerseyNumber', 'country.name', 'totalPass', 'accuratePass',
       'totalLongBalls', 'goalAssist', 'minutesPlayed', 'touches', 'rating',
       'possessionLostCtrl', 'accurateLongBalls', 'totalCross',
       'accurateCross', 'duelLost', 'duelWon', 'challengeLost', 'totalContest',
       'blockedScoringAttempt', 'totalClearance', 'totalTackle',
       'expectedGoals', 'keyPass', 'expectedAssists', 'aerialLost',
       'aerialWon', 'onTargetScoringAttempt', 'ownGoals', 'fouls', 'wasFouled',
       'totalOffside', 'shotOffTarget', 'interceptionWon', 'dispossessed',
       'wonContest', 'goals', 'captain', 'penaltyWon'],
      dtype='object')

In [109]:
away_lineups.head()

,shirtNumber,jerseyNumber,position,substitute,name,slug,position,jerseyNumber,country.name,totalPass,...,fouls,wasFouled,totalOffside,shotOffTarget,interceptionWon,dispossessed,wonContest,goals,captain,penaltyWon
0,1,1,G,False,Angus Gunn,angus-gunn,G,28,Scotland,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,D,False,Anthony Ralston,anthony-ralston,D,56,Scotland,21.0,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15,15,D,False,Ryan Porteous,porteous-ryan,D,5,Scotland,21.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,13,D,False,Jack Hendry,jack-hendry,D,4,Scotland,26.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,6,D,False,Kieran Tierney,kieran-tierney,D,17,Scotland,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
away_lineups['rating']

0     6.5
1     5.9
2     5.1
3     5.9
4     6.1
5     6.0
6     6.0
7     6.7
8     6.3
9     6.3
10    6.4
11    6.4
12    6.3
13    6.2
14    6.8
15    6.5
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
Name: rating, dtype: float64

In [111]:
lineups = pd.concat([home_lineups, away_lineups], ignore_index=True)

In [112]:
lineups

,shirtNumber,jerseyNumber,position,substitute,name,slug,position,jerseyNumber,country.name,totalPass,...,fouls,wasFouled,totalOffside,shotOffTarget,interceptionWon,dispossessed,wonContest,goals,captain,penaltyWon
0,1,1,G,False,Manuel Neuer,manuel-neuer,G,1,Germany,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,6,D,False,Joshua Kimmich,joshua-kimmich,M,6,Germany,78.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,D,False,Antonio Rüdiger,antonio-rudiger,D,22,Germany,91.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,D,False,Jonathan Tah,jonathan-tah,D,4,Germany,93.0,...,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18,18,D,False,Maximilian Mittelstädt,maximilian-mittelstadt,D,7,Germany,62.0,...,2.0,2.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5,23,23,M,False,Robert Andrich,robert-andrich,M,8,Germany,28.0,...,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8,8,M,False,Toni Kroos,toni-kroos,M,NaN,Germany,102.0,...,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
7,10,10,M,False,Jamal Musiala,jamal-musiala,M,42,Germany,32.0,...,NaN,2.0,NaN,NaN,1.0,3.0,5.0,1.0,NaN,NaN
8,21,21,M,False,İlkay Gündoğan,ilkay-gundogan,M,22,Germany,34.0,...,1.0,2.0,NaN,NaN,NaN,1.0,NaN,NaN,True,1.0
9,17,17,M,False,Florian Wirtz,florian-wirtz,F,10,Germany,31.0,...,NaN,1.0,1.0,2.0,NaN,1.0,1.0,1.0,NaN,NaN
10,7,7,F,False,Kai Havertz,kai-havertz,M,29,Germany,17.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
11,5,5,M,True,Pascal Groß,pascal-gross,M,13,Germany,67.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,19,19,M,True,Leroy Sané,leroy-sane,M,10,Germany,15.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
13,9,9,F,True,Niclas Füllkrug,niclas-fullkrug,F,14,Germany,3.0,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN
14,13,13,F,True,Thomas Müller,thomas-muller,M,25,Germany,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,25,25,M,True,Emre Can,emre-can,M,23,Germany,11.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
16,12,12,G,True,Oliver Baumann,oliver-baumann,G,1,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,22,22,G,True,Marc-André ter Stegen,marc-andre-ter-stegen,G,1,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,20,20,D,True,Benjamin Henrichs,benjamin-henrichs,D,39,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3,3,D,True,David Raum,david-raum,D,22,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,24,24,D,True,Robin Koch,robin-koch,D,4,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,16,16,D,True,Waldemar Anton,waldemar-anton,D,2,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,15,15,D,True,Nico Schlotterbeck,nico-schlotterbeck,D,4,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,11,11,M,True,Chris Führich,chris-fuhrich,M,27,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,26,26,F,True,Deniz Undav,deniz-undav,F,26,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,14,14,F,True,Maximilian Beier,maximilian-beier,F,14,Germany,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1,1,G,False,Angus Gunn,angus-gunn,G,28,Scotland,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2,2,D,False,Anthony Ralston,anthony-ralston,D,56,Scotland,21.0,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,15,15,D,False,Ryan Porteous,porteous-ryan,D,5,Scotland,21.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,13,13,D,False,Jack Hendry,jack-hendry,D,4,Scotland,26.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,6,6,D,False,Kieran Tierney,kieran-tierney,D,17,Scotland,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,3,3,D,False,Andrew Robertson,andrew-robertson,D,26,Scotland,27.0,...,NaN,1.0,NaN,NaN,1.0,NaN,2.0,NaN,True,NaN
32,7,7,M,False,John McGinn,john-mcginn,M,7,Scotland,11.0,...,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN
33,4,4,M,False,Scott McTominay,scott-mctominay,M,39,Scotland,17.0,...,1.0,2.0,NaN,NaN,2.0,NaN,1.0,NaN,NaN,NaN
34,8,8,M,False,Callum McGregor,callum-mcgregor,M,42,Scotland,16.0,...,2.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
35,11,11,M,False,Ryan Christie,ryan-christie,M,10,Scotland,11.0,...,3.0,4.0,NaN,NaN,NaN,2.0,1.0,NaN,NaN,NaN
36,10,10,F,False,Che Adams,che-adams,F,NaN,Scotland,9.0,...,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN
37,5,5,D,True,Grant Hanley,grant-hanley,D,5,Scotland,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,23,23,M,True,Kenny McLean,kenny-mclean,M,23,Scotland,7.0,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
39,14,14,M,True,Billy Gilmour,gilmour-billy,M,11,Scotland,8.0,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
40,26,26,D,True,Scott McKenna,scott-mckenna,D,NaN,Scotland,5.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
41,9,9,F,True,Lawrence Shankland,lawrence-shankland,F,9,Scotland,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,21,21,G,True,Zander Clark,zander-clark,G,28,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,12,12,G,True,Liam Kelly,liam-kelly,G,1,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,16,16,D,True,Liam Cooper,liam-cooper,D,6,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,24,24,D,True,Greg Taylor,greg-taylor,D,3,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,22,22,D,True,Ross McCrorie,ross-mccrorie,D,2,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,17,17,M,True,Stuart Armstrong,stuart-armstrong,M,NaN,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,25,25,M,True,James Forrest,james-forrest,M,49,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,20,20,M,True,Ryan Jack,ryan-jack,M,NaN,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,18,18,M,True,Lewis Morgan,lewis-morgan,F,9,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,19,19,F,True,Tommy Conway,tommy-conway,F,15,Scotland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
lineups.to_csv('linueps.csv', mode='a')